---
interface Props {
	title: string;
}
import '../assets/app.css';


interface Props {
	title: string;
	description: string;
	titleTemplate: string;
}

const { title,description,titleTemplate } = Astro.props;

import Header from '@components/shared/Header.astro';
import Footer from '@components/shared/Footer.astro';
import Drawer from '@components/shared/Drawer/Drawer.astro';
import {ClientRouter} from 'astro:transitions';
import Nav from '@shared/Nav.astro';
import { SEO } from "astro-seo";
import { SITE } from '@config';
---

<!doctype html>
<html lang={SITE.language} class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<SEO
			title={title}{description}
			titleTemplate={titleTemplate}
			description={description}
			openGraph={{
				basic: {
				title: "A Very Descriptive Title",
				type: "A type.",
				image: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
				}
			}}
			extend={{
				// extending the default link tags
				link: [{ rel: "icon", href: "/favicon.ico" }],
				// extending the default meta tags
				meta: [
				{
					name: "twitter:image",
					content: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
				},
				{ name: "twitter:title", content: "Tinker Tailor Soldier Spy" },
				{ name: "twitter:description", content: "Agent" },
				],
			}}
    	/>
		<script src="https://cdn.counter.dev/script.js" data-id="616de6e1-dccf-4e4a-a149-706f4c3c0b76" data-utcoffset="2"></script>
		<ClientRouter/>
	</head>
	<body data-theme="skeleton" class="bg-surface-100-800-token h-screen grid grid-rows-[auto_1fr_auto]">
		<Drawer position="right">
			<Nav/>
		</Drawer>
        <header>
			<Header></Header>
		</header>
		<main>
			<slot />
		</main>	
		<footer>
			<Footer></Footer>
		</footer>
	</body>
</html>